@import "../../../styles.scss";

.cashout-input__container {
  @include backgroundStyle();
  padding-top: 13rem;

  @include baseStyle();

  .home__details {
    max-width: 90%;
    .home__name {
      text-transform: uppercase;
      @include textOverflow(1);
    }
  }

  td {
    text-align: left;
    padding: 0.6rem 2rem;

    &.home__mess {
      text-align: center;

      &.error {
        color: red;
      }
      &.succes {
        color: rgb(30, 0, 255);
      }
    }
  }
  // .home__guide {
  //   .pincode__input {
  //     margin-top: 1.5rem;
  //     @include flexCenter();
  //     .input {
  //       height: 3.5rem;
  //       border: none;
  //       background: rgba(255, 255, 255, 0.599);
  //       outline: none;
  //       text-align: center;
  //       margin-right: 1rem;
  //     }
  //   }
  // }
}
