<div class="language__container" style="background-image: url(./assets/image/bg2.jpg);">
  <div class="home__guide">
    <div class="home__caption">Xin vui lòng lựa chọn ngôn ngữ</div>
    <div class="home__caption">Please select your language</div>
    <div class="home__caption">请选择您的语言</div>
  </div>

  <div class="home__btns">
    <div class="home__actions home__actions_left">
      <div class="home__action hidden">( 按 Cancel 退出 )</div>
      <div class="home__action">( ấn cancel để huỷ bỏ )</div>
      <div class="home__action">( press Cancel to exit )</div>
      <div class="home__action">( 按 Cancel 退出 )</div>
    </div>
    <div class="home__actions home__actions_right">
      <div class="home__action hidden">中文</div>
      <div (click)="navigateToPinCode('vn')" class="home__action">tiếng việt</div>
      <div (click)="navigateToPinCode('en')" class="home__action">english</div>
      <div (click)="navigateToPinCode('cn')" class="home__action">中文</div>
    </div>
  </div>
</div>
