<div class="tranfer-confirm__container" style="background-image: url(./assets/image/bg2.jpg);">
  <div class="home__guide">
    <div class="home__caption">Xin vui lòng kiểm tra lại để chuyển khoản</div>
    <div class="home__notice">(Ấn Enter để đồng ý, Cancel để huỷ)</div>

    <table class="home__details">
      <tr>
        <td>Số dư TK :</td>
        <td>{{balance | number }} VND</td>
      </tr>
      <tr>
        <td>Số tiền chuyển: </td>
        <td class="home__name">{{cashoutMoney | number}} VND</td>
      </tr>
      <tr>
        <td>Phí : </td>
        <td>{{cost | number}} VND</td>
      </tr>
      <tr>
        <td>Số dư còn lại : </td>
        <td class="home__name">{{theRemainingBalance | number}} VND</td>
      </tr>
    </table>

    <div class="home__caption">Bạn có muốn in hoá đơn không?</div>
  </div>


</div>
