@import "../../styles.scss";

.pincode__container {
  @include backgroundStyle();
  padding-top: 13rem;

  @include baseStyle();

  .home__guide {
    .pincode__input {
      margin-top: 1.5rem;
      .input {
        height: 2.5rem;
        border: none;
        background: rgba(255, 255, 255, 0.599);
        outline: none;
        text-align: center;
      }
    }
    .PIN-mess{
      color: red;
      margin-top: 10px;
    }
  }
}
