<div class="home__container" style="background-image: url(./assets/image/bg2.jpg);">
  <div class="home__guide">
    <div class="home__caption">Xin vui lòng lựa chọn dịch vụ bên em</div>
    <div >(Bên em sẽ thu phí khách làng khác qua làng này chơi)</div>
    <div class="home__notice" *ngIf="drawalSuccess == true">(*Rút tiền thành công*)</div>
    <div class="home__notice" *ngIf="transferSuccess == true">(*Chuyển tiền thành công*)</div>
  </div>

  <div class="home__btns">
    <div class="home__actions home__actions_left">
      <div class="home__action" (click)="navigate('cashout-home')">{{a.actions1}}</div>
      <div class="home__action" (click)="navigate('balance')">{{a.actions2}}</div>
      <div class="home__action" (click)="navigate('change-PIN')">{{a.actions3}}</div>
      <div class="home__action" >{{a.actions4}}</div>
    </div>
    <div class="home__actions home__actions_right">
      <div class="home__action" (click)="navigate('tranfer-home')">{{a.actions5}}</div>
      <div class="home__action" (click)="navigate('history')">{{a.actions6}}</div>
      <div class="home__action">{{a.actions7}}</div>
      <div class="home__action">{{a.actions8}}</div>
    </div>
  </div>
</div>
